

## Python Para Análise de Dados (Pandas)

In [ ]:
# Importando a Biblioteca Pandas
import pandas as pd

In [ ]:
# Variavel DF Referece a "DATE FREME" Data Freme Parecedo Com Planilha Excel Que Contém Colunas e Linhas
df = pd.read_csv("/content/drive/MyDrive/nomes.csv", sep=";")

In [ ]:
df

       nome       niver  idade
0      Isis  14/01/2022      0
1     Aline  15/02/2000     22
2  Bernardo  01/01/2004     18
3   Gustavo  31/12/1994     27
4    Manuel  28/10/1976     54
5     Pablo  31/12/1994     27
6    Ingrid  21/11/1994     27
7     Maria  24/10/2013      8
8   Augusto  24/05/2018      5
9     Pablo  22/08/1991     30

In [ ]:
# Visualisando as 5 Primeitras Linhas
df.head()

       nome       niver  idade
0      Isis  14/01/2022      0
1     Aline  15/02/2000     22
2  Bernardo  01/01/2004     18
3   Gustavo  31/12/1994     27
4    Manuel  28/10/1976     54

In [ ]:
df = df.rename(columns={"nome":"Cliente", "niver":"Aniversario", "idade":"Idade Atual"})

In [ ]:
df.head(8)

    Cliente Aniversario  Idade Atual
0      Isis  14/01/2022            0
1     Aline  15/02/2000           22
2  Bernardo  01/01/2004           18
3   Gustavo  31/12/1994           27
4    Manuel  28/10/1976           54
5     Pablo  31/12/1994           27
6    Ingrid  21/11/1994           27
7     Maria  24/10/2013            8

In [ ]:
# Total de Linha e Colunas Possui Do Arquivo
df.shape

(10, 3)

In [ ]:
#Retornar Somento O Nome das Colunas
df.columns

Index(['Cliente', 'Aniversario', 'Idade Atual'], dtype='object')

In [ ]:
# Definir o Tipo de Cada Coluna
df.dtypes

Cliente        object
Aniversario    object
Idade Atual     int64
dtype: object

In [ ]:
# Retorna as 5 Ultima Linhas do Conjunto de dados
df.tail()

   Cliente Aniversario  Idade Atual
5    Pablo  31/12/1994           27
6   Ingrid  21/11/1994           27
7    Maria  24/10/2013            8
8  Augusto  24/05/2018            5
9    Pablo  22/08/1991           30

In [ ]:
# Retorna as 3 Ultima Linhas do Conjunto de dados, Nesse Caso você defina a quantidade desejada #
df.tail(3)

   Cliente Aniversario  Idade Atual
7    Maria  24/10/2013            8
8  Augusto  24/05/2018            5
9    Pablo  22/08/1991           30

In [ ]:
# Retorna Informações Estatisticas do Elemento
df.describe()

       Idade Atual
count    10.000000
mean     21.800000
std      15.447402
min       0.000000
25%      10.500000
50%      24.500000
75%      27.000000
max      54.000000

In [ ]:
# Retorne Dodos Unico de Cada Coluna
df["Cliente"].unique()

array(['Isis', 'Aline', 'Bernardo', 'Gustavo', 'Manuel', 'Pablo',
       'Ingrid', 'Maria', 'Augusto'], dtype=object)

In [ ]:
# Localiza Na Coluna Especificada Todos Os "Pablo" ou seja o elemento desejado
Pablo = df.loc[df["Cliente"] == "Pablo"]
Pablo.head()

  Cliente Aniversario  Idade Atual
5   Pablo  31/12/1994           27
9   Pablo  22/08/1991           30

In [ ]:
# Agrupamento de Dados "Filtro" (Definiu Que 3 Clientes Tem Idade de 27 Anos)
df.groupby("Idade Atual")["Cliente"].nunique()

Idade Atual
0     1
5     1
8     1
18    1
22    1
27    3
30    1
54    1
Name: Cliente, dtype: int64